@import url("https://fonts.googleapis.com/css?family=Inter:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook-color: hsl(195, 100%, 50%);
  --twitter-color: hsl(203, 89%, 53%);
  --instagram-gradient: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube-color: hsl(348, 97%, 39%);
}

body {
  --toggle-background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --background-color: hsl(0, 0, 100%);
  --top-background-pattern-color: hsl(225, 100%, 98%);
  --card-background: hsl(227, 47%, 96%);
  --card-active-background: hsl(227, 47%, 86%);
  --text-primary-color: hsl(230, 17%, 14%);
  --text-secondary-color: hsl(228, 12%, 44%);
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
}

body.dark {
  --toggle-background: hsl(230, 22%, 74%);
}

.header {
  width: 90%;
  margin: 30px auto;
}

.header__heading {
  border-bottom: 1px solid var(--text-secondary-color);
}

.header__heading h1 {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: var(--text-primary-color);
}

.header__heading h2 {
  color: var(--text-secondary-color);
  margin: 0.5rem 0 1.5rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.switch-mode {
  margin-top: 1rem;
}

.switch-mode__caption {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
  font-weight: bold;
}

main {
  width: 90%;
  margin: 0 auto;
}

.card {
  background-color: var(--card-background);
  margin-bottom: 1.5rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  text-align: center;
}

.card:hover {
  background-color: var(--card-active-background);
}

.card--facebook::before {
  background-color: var(--facebook-color);
}

.card--twitter::before {
  background-color: var(--twitter-color);
}

.card--instagram::before {
  background: var(--instagram-gradient);
}

.card--youtube::before {
  background-color: var(--youtube-color);
}

.card::before {
  content: '';
  width: calc(100% + 1rem);
  height: 4px;
}

.card__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem auto;
}

.card__username span {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--text-secondary-color);
  margin-left: 0.5rem;
}

.card__content h2 {
  font-weight: bold;
  color: var(--text-primary-color);
  font-size: 3rem;
}

.card__content h3 {
  margin-top: 0.5rem;
  color: var(--text-secondary-color);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.change {
  margin: 1.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.change span {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--lime-green);
  margin-left: 0.25rem;
}

.change--up span {
  color: var(--lime-green);
}

.change--down span {
  color: var(--bright-red);
}

.overview {
  width: 90%;
  margin: 0 auto;
}

.overview h2 {
  color: var(--text-secondary-color);
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2.5rem 0 1.5rem 0;
}

.overview-card {
  background-color: var(--card-background);
  border-radius: 5px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.overview-card:hover {
  background-color: var(--card-active-background);
}

.overview-card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview-card__top h3 {
  font-size: 1rem;
  color: var(--text-secondary-color);
  font-weight: bold;
}

.overview-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 2rem;
}

.overview-card__bottom h2 {
  color: var(--text-primary-color);
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.overview-card__change {
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */